{% include 'common_start.html' %}
<h2>メール送信テスト用フォーム</h2>

<form action="/mail" method="post">
    <div class="u-full-width">
        <label for="mail_from">送信元</label>
        <input class="u-full-width" type="text" id="mail_from" name="mail_from" value="{{ mail_from }}">
    </div>
    <div class="u-full-width">
        <label for="mail_to">宛先</label>
        <input class="u-full-width" type="text" id="mail-to" name="mail-to" value="{{ recipient }}">
    </div>
    <div class="u-full-width">
        <label for="mail_subject">件名</label>
        <input class="u-full-width" type="text" id="mail_subject" name="mail_subject" value="{{ subject }}">
    </div>
    <div class="u-full-width">
        <label for="mail_data">本文</label>
        <textarea class="u-full-width" id="mail_data" name="mail_data" style="height: 10em;">{{ mail_data }}</textarea>
    </div>
    <div>
        <button class="button-primary" type="submit">送信</button>
    </div>
</form>
{% include 'common_end.html' %}