<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Testing SMTP Server</title>
</head>
<body>
    <h1>Testing SMTP Server</h1>

    <h2>受信メール一覧</h2>
    <table>
        {% for item in mails %}
        <tr>
            <td> {{ item['id'] }}</td>
            <td> {{ item['sender'] }}</td>
            <td> {{ item['recipient'] }}</td>
            <td> {{ item['subject'] }}</td>
            <td> {{ item['mail_data'] }}</td>
            <td> {{ item['updated_at'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>